@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
color scheme 1 - light and energetic
#5680E9 - dark blue
#84CEEB - teal
#5AB9EA - light blue
#C1C8E4 - light grey
#8860D0 - purple

color scheme 2 - dark with contrast
#61892F - dark green
#86c232 - light green
#222629 - dark grey
#474B4F - grey
#6B6E70 - light grey
 */
@layer utilities {
    body {
        background: #222629;
        /* background: radial-gradient(circle, rgba(34,38,41,1) 82%, rgba(45,45,46,1) 97%); */
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    nav {
        color: #86c232
    }
    #bg-image {
        background-position: center center;
        background-image: url(../public/images/geometric-circle-gray.png);
        background-repeat: no-repeat;
        background-size: contain;
        left: 25%;
        top: 25%;
        width: 50%;
        height: 70%;
        position: fixed;
        z-index: -99999;
    }
    #typewriter {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid white; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        animation: 
          typing 1.5s steps(12, end),
          blink-caret .75s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 21% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white; }
      }
}